<%- include('./header.ejs') %>
    <section style="margin-top: 86px;">
        <img style="width: 100%; height: 500px;"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQyedFlnG1jpc6h6Mlp9lEUut5_al2CZJYuw&usqp=CAU"
            alt="">
    </section>

    <div class="container" style="align-items: center; justify-content: center; margin-top: 100px;">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <h1>Get in touch</h1>
                    <p>Have a question or just want to say hi? We'd love to hear from you.</p>
                </div>

                <form action="">
                    <div class="col-md-3">
                        <lable style="font-weight: bold;" for="name"></lable>
                        <input class="hold" type="text" placeholder="Name" name="name">
                    </div>
                    <div class="col-md-3 mt-3">
                        <lable style="font-weight: bold;" for="name"></lable>
                        <input class="hold" type="email" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-3 mt-3">
                        <lable style="font-weight: bold;" for="name"></lable>
                        <input class="hold" type="number" placeholder="Contact Number" name="contact">
                    </div>
                    <div class="col-md-3 mt-2">
                        <label style="font-weight: bold;" for="message"></label>
                        <textarea class="form-control abhi" id="message" rows="5" placeholder="Enter your message"
                            required></textarea>
                    </div>
                </form>

            </div>
            <div class="col-md-5 mt-5">
                <div class="card" style="box-shadow: 0px 30px 50px 0px rgba(1, 11, 60, 0.1);
        -moz-box-shadow: 0px 30px 50px 0px rgba(1, 11, 60, 0.1);">
                    <div style="padding: 30px 40px;">
                        <h5>Karwi Chitrakoot (U.P)</h5>
                        <p>Allahabad road, pnb bank, karwi chitrakoot</p>
                    </div>
                    <div style="padding: 0px 40px;">
                        <h5>Email Address</h5>
                        <p>ab@gmail.com</p>
                        <p>abhishek@gmail.com</p>
                    </div>
                    <div style="padding: 20px 40px;">
                        <h5>Mobile Number</h5>
                        <p>(+12) 548742</p>
                        <p>(+12) 548742</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <%- include('./footer.ejs')  %>